.background-dark {
  margin: 0;
  padding: 0;
}
.background-light {
  margin: 0;
  padding: 0;
}

/* SI VOUS REALISEZ SUR VOS COMPOSANTS UN STYLE REUTILISABLE (BOUTON OU AUTRE), AJOUTEZ LE ICI, MERCI <3 */
