/* ========================
   NAVBAR CONTAINER
   ======================== */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dad4de;
  padding: 20px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* ========================
   LOGO
   ======================== */

.navbar__logo {
  text-decoration: none;
}
.navbar__logo img {
  height: 70px;
  width: auto;
  margin-top: 10px;
  margin-right: 8px;
  margin-left: 30px;
}

/* ========================
   LINKS
   ======================== */

.navbar__links {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

.navbar__link {
  text-decoration: none;
  color: #545455;
  font-size: 1.5rem;
  transition: color 0.2s ease;
  font-weight: bold;
}

.navbar__link:hover {
  color: rgb(49, 48, 48);
}

/* Active route highlight */
.navbar__link.active {
  color: #545455;
  border-bottom: 2px solid #545455;
  padding-bottom: 2px;
}
